<footer class="text-left p-4">
    <div>
        <span>
            <a class="font-weight-bold" href="/privacypolicy">Privacy Policy</a>
            <a class="font-weight-bold" href="/termsandconditions">Terms & Conditions</a>
        </span>
    </div>
    <div>
        <span class="email">info@whissol.com</span>
    </div>
    <div class="pb-2">
        <span class="copyright">Copyright &copy; {{ site.title }} Limited {{ 'now' | date: "%Y" }}</span>
    </div>
    <div>
        <ul class="list-inline social-buttons">
            {% for network in site.social %}
            <li class="p-1">
                <a href="{{ network.url }}">
                    <i class="fa-brands fa-{{ network.title }}"></i>
                    <span>{{ network.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>
