<footer class="text-left pa-2">
    <div>
        <span>
            <a class="font-weight-bold" href="/privacypolicy">Privacy Policy</a>
            <a class="font-weight-bold" href="/termsandconditions">Terms & Conditions</a>
        </span>
    </div>
    <div>
        <ul class="list-inline social-buttons">
            {% for network in site.social %}
            <li class="p-1"><a href="{{ network.url }}"><i class="fa-brands fa-{{ network.title }}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span class="email font-weight-bold">info@whissol.com</span>
    </div>
    <div>
        <span class="copyright font-weight-bold">Copyright &copy; {{ site.title }} Limited {{ 'now' | date: "%Y" }}</span>
    </div>
</footer>
