<footer>
    <div class="container">
        <div class="row">
            <div class="col icon">
                <a href="https://www.begambleaware.org/">
                    <img src="img/logos/BeGambleAware.svg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col icon">
                <a href="#">
                    <img src="img/logos/18.svg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col icon">
                <a href="https://www.gamcare.org.uk/">
                    <img src="img/logos/GamCareHelpline.svg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <ul class="list-inline social-buttons">
                {% for network in site.social %}
                <li><a href="{{ network.url }}"><i class="fa-brands fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <span class="copyright">Copyright &copy; {{ site.title }} Limited {{ 'now' | date: "%Y" }}</span>
        </div>
    </div>
</footer>
