<section id="stores">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Available on</h2>
            </div>
        </div> -->
        <div class="row text-center">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="store">
                    <span class="fa-stack fa-4x">
                        <i class="fa-brands fa-app-store fa-stack-1x text-white"></i>
                    </span>
                    <h4>App Store</h4>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="store">
                    <span class="fa-stack fa-4x">
                        <i class="fa-brands fa-google-play fa-stack-1x text-white"></i>
                    </span>
                    <h4>Google Play</h4>
                </div>
            </div>
        </div>
    </div>
</section>