---
---

$body-color: {{ site.body_background_color }};

$device-color: "../../assets/images/phones/{{ site.device_color }}.png";

$accent-color: {{ site.link_color }};

$header-title-color: {{ site.app_title_color }};
$footer-text-color: {{ site.footer_text_color }};

$app-title-color: {{ site.app_title_color }};
$app-price-color: {{ site.app_price_color }};
$app-description-color: {{ site.app_description_color }};
$coming-soon-color: {{ site.coming_soon_color }};

$feature-title-color: {{ site.feature_title_color }};
$feature-text-color: {{ site.feature_text_color }};
$feature-icons-foreground-color: {{ site.feature_icons_foreground_color }};
$feature-icons-background-color: {{ site.feature_icons_background_color }};

$rule-icons-foreground-color: {{ site.rule_icons_foreground_color }};
$rule-icons-background-color: {{ site.rule_icons_background_color }};

$social-icons-foreground-color: {{ site.social_icons_foreground_color }};
$social-icons-background-color: {{ site.social_icons_background_color }};

@import 
    "base.scss",
    "layout.scss",
    "github-markdown.scss";